.App {
  text-align: center;
}

.App-header {
  background-color: #636770;
  font-size: calc(10px + 2vmin);
  color: white;
}

.characters div{

  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  background: #7c2ba1;
}
